# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
package-lock.json
.crawlrc.json

# Dependency directories
node_modules/

# Dev tools
.cursor
.roomodes
.taskmaster
.windsurfrules
.roo

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store

# Task files
tasks.json
tasks/